body{
background-color: rgb(14, 220, 220);
font-size: 16px;
margin: auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 0.3em;
}
header{
background-color: rgb(83, 128, 128);
font-size: 20px;
text-decoration: dotted;
color: red;
padding: 1em;
}

nav{
background-color: rgb(107, 161, 161);
padding: 1em;

}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.top-menu li{
    display: inline-block;
    margin-right: 20px;
}

.top-menu a:link{
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-weight: bold;
   
}
.top-menu a:visited{
   color: rgb(243, 0, 73);
   
}

.top-menu a:hover{

    color: rgb(206, 205, 205);
}


h2{

}

section{


}

img{
max-width: 250px;
max-height: 250px;
border-style: dotted;


}

footer{
background-color: black;
color: antiquewhite;
padding: 20px;
text-align: center;


}

.h2spe{
   background-color: red; 
   color:rgb(56, 9, 228);
}